name: CI
on: [push, pull_request]

jobs:
  lint-python-scripts:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v3

      - name: Install flake8 & mypy
        run: |
          sudo apt update
          sudo apt install python3 python3-pip
          pip install flake8 mypy

      - name: Run flake8 on the project
        run: flake8 tests/*.py

      - name: Run mypy on the project
        run: mypy --disallow-incomplete-defs --no-implicit-optional tests/*.py
  build-and-run-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        name: Install tools & libraries (Ubuntu)
        run: |
          sudo apt update
          sudo apt install python3 python3-pytest acpica-tools cmake clang
      - if: ${{ matrix.os == 'macos-latest' }}
        name: Install tools & libraries (MacOS)
        run: |
          brew install python3 acpica cmake llvm
          python3 -m pip install pytest
      - if: ${{ matrix.os == 'windows-latest' }}
        name: Install tools & libraries (Windows)
        run: |
          choco install python3 iasl cmake llvm
          python3 -m pip install pytest
      - name: Run tests
        run: python3 ${{ github.workspace }}/tests/run_tests.py
